.adduser-group {
  margin: 10px 0;
  text-align: start;
}

.adduser-control {
  width: 100%;
  padding: 12px 10px;
  border: 1px solid silver;
  outline: none;
}

.adduser-btn {
  width: 50%;
  outline: none;
  border: none;
  text-decoration: none;
  padding: 12px 10px;
  color: #fff;
  cursor: pointer;
  background: #006eff;
  width: 100%;
  text-transform: uppercase;
  font-size: 16px;
}

.red {
  color: red;
}
