.loginpage {
  display: block;
  width: 100%;
  max-width: 40rem;
  margin: 4rem auto 6rem;
  border: 1px solid black;
  padding: 20px;
  text-align: center;
}

.loginpage-group {
  margin: 10px 0;
  text-align: start;
}

.loginpage-control {
  width: 100%;
  padding: 12px 10px;
  border: 1px solid silver;
  outline: none;
}

.loginpage-btn {
  outline: none;
  border: none;
  text-decoration: none;
  padding: 12px 10px;
  color: #fff;
  cursor: pointer;
  background: #006eff;
  width: 100%;
  text-transform: uppercase;
  font-size: 16px;
}
