.adduser {
  display: block;
  width: 100%;
  max-width: 40rem;
  margin: 4rem auto 6rem;
  border: 1px solid black;
  text-align: center;
}

.adduser-container {
  width: 90%;
  margin: 30px auto;
}
