@import "~antd/dist/antd.css";
.punchcard-page {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.punchcard-card {
  border: 1px solid black;
  width: 400px;
  padding: 20px 0;
}

.records-table-cells {
  width: 150px;
  border: 1px solid black;
}

.records-table {
  text-align: center;
}
